/* CSS for Header Section */
body {
    font-family: Arial, sans-serif;
  }
.logo {
    max-width:10em;
 }
 
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

/* CSS for Header Menu Section */

.menu-overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, #007bff, #6EFACC);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
  }
  .menu-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: inline-block;
    transition: 0.3s;
  }
  .menu-overlay a:hover, .menu-overlay a:focus {
    background-image: linear-gradient(90deg, #007bff, #6EFACC);
    border-radius: 10px;
    color:#444655;
  }
  .menu-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .menu {
      font-size:40px;
      cursor:pointer; 
      background-image: linear-gradient(90deg, #007bff, #6EFACC);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .header-block{
      display: flex;
      align-items:flex-end;
      margin-top: 10px;
  }
  .menu-block {
      display: flex;
      justify-content:flex-end;
    }

/* CSS for FODOx2021 Section */

#header-content {
  padding-bottom:8%;
}
.fodox-heading {
    font-size: 3vw;
    padding: 15px;  
}
.fodex-dates {
    font-size: 2vw;
    padding: 25px;
    background-image: linear-gradient(90deg, #007bff, #6EFACC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   font-weight: bold;  
}
.fodox{
background-image: linear-gradient(90deg, #007bff, #6EFACC);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 3vw;
font-weight: bold;           
 }
 .icon-text {
    vertical-align:top;
    font-size: 2vw;
 }
 .list-item {
     font-size: 2vw;
 }
 .material-icons {
    background-image: linear-gradient(90deg, #007bff, #6EFACC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vw!important;   
 }
ul li {
    display: inline-block;
}
li {
    margin-right:25px;
}
.line-rule  {
    font-size:50px;   
}
.icon-link {
  text-decoration: none;
  color: white;
}
.icon-link:hover {
  color:#3CC1E1;
}
#places{
  font-size: 3vw!important; 
}
.list {
  margin-top: 5%;
}

/* CSS for Digital onboarding summit section */
.summit {
  text-align: center;
  margin-top: 5%;
}
.summit-heading {
  color:#007bff;
}
.summit-paragraph {
  color: #444655;
  padding: 2%;
  line-height: 1.7;
}
.summit-cards {
  display:inline-block;
  width: 22rem;
  border-radius: 12px;
  color: #444655;
  border: none;
  margin: 8px;
}
.card-img-top {
  width:80px;
  margin-top: 30px;
}
.card-text a {
  text-decoration: none;
  cursor: pointer;
}
.card-body {
  text-align: left;
}
.card-title { 
  margin-top: 10px;
}
#more {
  display: none;
}
#more1 {
  display: none;
}
#more2 {
  display: none;
}
.card-link{
  font-weight: bold;
}
.card-link:hover {
  color:#3CC1E1;
}
.summit-cards:hover {
 transform: scale(1.03);
}
.blockquote {
  color: #444655;
}
cite {
  background-image: linear-gradient(90deg, #007bff, #6EFACC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* CSS for Speakers section */
.speakers-card {
  display: inline-block;
  margin: 10px;
  border:none;
  background-color:#007bff;
}
.sp-img{
  width: 21rem;
}
.speakers-card:hover {
  box-shadow: 5px 1px 5px #007bff;
}
.sp-heading {
  background-image: linear-gradient(90deg, #007bff, #6EFACC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 4%;
}

/* CSS for Sponsers section */

.spnsrs-card {
  display: inline-block;
  margin: 10px;
  border:none;
  background-color:#3CC1E1;
}
.spnsrs-card:hover {
  box-shadow: 5px 1px 5px #3CC1E1;
}

/* CSS for Media partners section */
.media-card {
  display: inline-block;
  margin: 10px;
  border:none;
  background-color:  rgb(53, 152, 220);   
}
.media-card:hover {
  box-shadow: 5px 1px 5px rgb(53, 152, 220);
}

/* CSS for Why Attend section */

.quote-txt {
  background-image: linear-gradient(90deg, #007bff, #6EFACC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  padding-bottom: 20px;
}
.why-title{
  text-align: center;
  color: #444655;
}
.why-img {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 30%;
}
.why-card {
  border: none;
}

/* CSS for Who Should Attend section */

.who-block {
  background-image: linear-gradient(300deg, #6EFACC, #007bff);
}
.attend-heading {
  margin-top: 6%;
}
.attend-para {
  color: white;
  padding: 2%;
  font-weight: bold;
  font-size: 25px;
}
.attend-list li {
  display: block;
  color: white;
  text-align: left;
}
.attend-block {
  display: flex;
  padding-bottom: 2%;
}
.list-block {
  border: 2px solid white;
  border-radius: 10px;
  margin: 20px;
  padding-top: 6%;
}
.attend-list li:hover {
  color:#007bff;
}

/* CSS for Topics We Cover section */

.card-topic{
  display: inline-block;
  width: 12rem;
  margin: 10px;
  border:none;
}
.txt {
  margin-top: -20px;
}




















  /* CSS for responsiveness */

  @media screen and (max-height: 450px) {
    .menu-overlay {overflow-y: auto;}
    .menu-overlay a {font-size: 20px}
    .menu-overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
@media screen and (max-width: 1030px) {
  .line-rule {
    display:none;
}
  }
@media screen and (max-width: 380px) {
    .menu-overlay a {
      font-size: 20px;
    }
  }
@media screen and (max-width: 1030px) {
  .fodox-heading {
    font-size: 8vw;
}
.fodox{
  font-size: 7vw;        
   }
   .fodex-dates {
    font-size: 6vw;
}
.icon-text {
  font-size: 5vw;
}
.list-item {
   font-size: 4vw;
}
.material-icons {
  font-size: 4vw!important;   
}
#places{
  font-size: 6vw!important; 
}
.speakers-card {
  margin-right: 0;
}
.attend-block {
  display: block;
}
.row {
  display: block!important;
  margin: 0 auto!important;
}

}
 



